:root{
    --cor-fundo: #F08080;
    --cor-principal: #D2691E ;
    --cor-secundaria: #212333;
    --cor-destaque: #00FF7F;
    --cor-texto: white;
}

body{
    background-image: url(ia.png);
    background-repeat: no-repeat;
    background-size: 1200px;
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
    background-color: azure;
}

.caixa-perguntas{
    padding-bottom: 10px;
}



button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}